body {
    background-color: black;
}

.title {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

.button {
    background-color: #1db954;
    color: white !important;
    font-family: 'Nunito Sans', sans-serif;
}

.rightside {
    background: linear-gradient(#212121, #141414, black);
    color: white;
}

.righty {
    background: transparent;
}

.leftside {
    background-color: black;
    color: white;
}

footer {
    color: #1db954;
}

#top-right-box {
    background-image: url("../images/transparent-musical-notes-7.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

#lyric {
    height: 300px;
    overflow-y: auto;
    background-image: linear-gradient(to right, black, green, lightgreen);
}